body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choices {
    display: flex;
    justify-content: center;
}
.buttonPicture {
    max-width: 300px;
    max-height: 300px;
    
}
.choice {
    margin:10px;
    transition:all 0.2s;
}

.clicked{
    background-color: red;
    transform:scale(1.1);
}